/*
* include padding in elements total
*width and height
*/
* {
	box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 0px;
    background-image: url(bg1.jpg);
	color: #EE9606;
}

.header {
	background-image: url(banner.jpg);
	padding: 20px;
	text-align:center;
}

.header h1 {
    font-size: 60px;
}

.topnav {
	overflow: hidden;
	background-color: #333;
}

.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.leftcolumn {
	float: left;
	width: 100%;
}

.rightcolumn {
	float: left;
	width: 0%;
	background-color: #f1f1f1;
	padding-left: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


.card {
    background-image: url("card2.jpg");
	background-repeat: no-repeat;
	background-size: 2000px 600px;
	font-size: 25px;
	line-height: 50px;
    padding: 20px;
    margin-top: 20px;:
}

.footer {
    background-color: #000000;
    text-align: center;
    padding: 10px;
}